@import '../../styles/variables.scss';

.state-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0 0 20px;
  border: 1px solid $color-gray;
  list-style: none;

  &__item {
    width: 25%;
    padding: 15px;
    border-right: 1px solid $color-gray;

    &:last-child {
      border-right: none;
    }
  }

  &__item-content {
    margin-bottom: 10px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}